
  .student-login-container {
    background-image: url('/images/login-bg.webp');
    background-size: cover; 
   padding: 20px;
    
 }



 @tailwind base;
 @tailwind components;
 @tailwind utilities;
